### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to convert the value of 'pi' to integer</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
import math
print("Pi=",math.pi)
print("Integer value of pi=", int(math.pi))

Pi= 3.141592653589793
ingeger value of pi= 3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Find the remainder after dividing 542 by 16</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
print("Remainder is", 542%16)

Remainder is 14

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3.  Display the following pattern using single print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                *
                                **
                                ***
                                ****

In [7]:
print("*")
print("*"*2)
print("*"*3)
print("*"*4)

*
**
***
****

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to check whether an entered letter is a vowel or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
print(input("Type a letter").upper() in "AEIOU")

True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to swap the two integers passed as runtime variables</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
x=int(input("x="))
y=int(input("y="))
x,y=y,x
print("x=",x)
print("y=",y)

x= 4
y= 2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to print the product of two numbers 'x' and 'y' </b>
                    <br><br>
                    <b> x = 10 ; y = "15"  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
x=10
y=15
print(x*y)

150

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Write a 
                    code to check whether input is even number or odd number (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
num=int(input("Type a number"))

if num%2==0:
    print("Even")
else: print("Odd")

Even

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to print whether a number is divisible by 9 and a multiple of 6 (take input from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
num=int(input("Type a number"))

if num%9==0 and num%6==0:
    print("Divisible by 9 and a multiple of 6")
elif num%9==0 and num%6!=0:
    print("Divisible by 9 but not a multiple of 6")
elif num%9!=0 and num%6==0:
    print("Not divisible by 9 but a multiple of 6")
else:
    print("Not divisible by 9 and not a multiple of 6")

Divisible by 9 but not a multiple of 6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to take 5 values from user and print their average using while loop (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [235]:
l=[]
while True:
    l.append(int(input("Type a number")))
    if len(l)==5:
        print(sum(l)/len(l))
        break

3.0

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [20]:
string = "Hello, welcome to my world."
print(string[string.index("o")+string.index("o",7)])

t

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
S=tuple([5])
print(type(S))

<class 'tuple'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [34]:

dictionary_1 = {'A':1, 'B':2}

dictionary_2 = {'C':3}

dictionary_3={}
dictionary_3.update(dictionary_1)
dictionary_3.update(dictionary_2)

print(dictionary_3)

{'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [37]:
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}
print(len(X.intersection(Y))==0)
# print(X.isdisjoint(Y))

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [39]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
print(num_list[2])

6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [42]:
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6) 
print(num_tuple.count(-6))

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [43]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
print(53 in num_list)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [44]:
numbers={2,3,4,5}
numbers.remove(3)
print(numbers)

{2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [46]:
t=tuple([24, 18, 24, 47, 52])
type(t)

tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [51]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
print(europe.get('Germany').get("Capital"))
print(europe['Germany']['Capital'])

Berlin
Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [52]:
print(max({5, 10, 3, 15, 2, 20, 10, 5, 4, 3}))
print(min({5, 10, 3, 15, 2, 20, 10, 5, 4, 3}))

20
2

**Let's begin with some hands-on practice exercises**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print the following pattern (use for loop)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

                                            A  
                                            B C  
                                            D E F  
                                            G H I J  
                                            K L M N O  
                                            P Q R S T U

In [55]:
n=65
for i in range(6):
    s=""
    for j in range(i+1):
        s+=chr(n)+" "
        n+=1
    print(s)

A
B C
D E F
G H I J
K L M N O
P Q R S T U

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (use for loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [54]:
n=int(input())
for i in range (10):
    print(str(n)+" x "+str(i+1)+" = "+str((i+1)*n))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [185]:
t1=(10,4,6,9)
t2=(5,2,3,3)
t=[]
for i in range(len(t1)):
    t.append(int(t1[i]/t2[i]))
print(tuple(t))

print(tuple(int(x/y) for x,y in tuple(zip(t1,t2))))

(2, 2, 2, 3)
(2, 2, 2, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]</b>

In [73]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
astro=[x for i in astro for x in i if len(x)<5]
print(astro)

['sky', 'sun', 'moon', 'star', 'mars']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [74]:
t=(4,5,6)
l=list(t)
l.append({'gfg':1,'is':2,'best':3})
print(tuple(l))

(4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [76]:
a=sorted(input().lower())
b=sorted(input().lower())
if a==b:
    print(True)
else:
    print(False)

True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [97]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
f=tuple(fruity.keys())
for i in f:
    j=i.replace(" ","")
    # print(j,i)
    fruity.update({j:fruity[i]})
    fruity.pop(i)
print(fruity)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [120]:
matrix=[[1,2],[3,4],[5,6],[7,8]]
y=[]
x=[]
for i in range(2):
    for j in range(4):
        y.append(matrix[j][i])
    x.append(y)
    y=[]
print(x)

l=[[matrix[i][j] for i in range(len(matrix))] for j in range(len(matrix[0]))]
print(l)

[[1, 3, 5, 7], [2, 4, 6, 8]]
[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to add the cubes of first 5 positive integers (use while loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [166]:
s=0
i=0
while i<6:
    s+=i**3
    i+=1
print(s)

225

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3 (use list comprehension)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [118]:
l=[[a+1 for a in range(3)] for i in range(6)]
print(l)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [128]:
l=['True','FALse','tRUe','tRue','False','faLse','True']
print(list(map(lambda x: x.upper(),l)))

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [142]:
height=[110,120,130,145,150,164,178,180,199,200]
a=list(map(lambda x: print("Height is "+str(x)),height))

Height is 110
Height is 120
Height is 130
Height is 145
Height is 150
Height is 164
Height is 178
Height is 180
Height is 199
Height is 200

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [170]:
dict={'Square':lambda x:x**2,'Cube':lambda x: x**3,'Squareroot':lambda x: x**0.5,'Double':lambda x: x*2}
a=lambda x:[func(x) for func in [dict[key] for key in dict.keys()]]
num=int(input())
print(a(num))
print(sum(a(num)))

[4, 8, 1.4142135623730951, 4]
17.414213562373096

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [172]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
print(list(filter(lambda x: x[1].isupper(),ls)))

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [196]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)
a=tuple(filter(lambda x: x[1]>40,zip(tnames,tmarks)))
print(a)
# print(tuple(filter(lambda x: x in (a[0][0] + a[1][0]),tnames)))
print(tuple(filter(lambda x: any(x in t for t in a), tnames)))

(('Sharon', 50), ('Jack', 75))
True
('Sharon', 'Jack')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [213]:
Gm=1.622
Ge=9.81
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35} 
print("Weight on Moon:"+str({a:b for a,b in zip(list(WeightOnEarth.keys()),list(map(lambda x:round(x*Gm/Ge,2),list(WeightOnEarth.values()))))}))

Weight on Moon:{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [216]:
from functools import reduce
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
print(reduce(lambda x,y: set(x).intersection(set(y)),given_sets))

{8, 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [246]:
def store_prices():
    sm={}
    num_products = int(input("Number of products: "))
    for i in range(num_products):
        product = input(f"Name of product {i + 1}: ")
        price = float(input(f"Price for {product}: "))
        sm[product] = "Rs "+str(price)
    return sm

print("Supermarket Prices:",store_prices())

Supermarket Prices: {'Apple': 'Rs 12.0', 'B': 'Rs 2.0', 'C': 'Rs 3.0', 'D': 'Rs 4.0', 'E': 'Rs 5.0'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [229]:
a=16
b=12
c=lambda x:a*b
print(c("asd"))

192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

In [233]:
import itertools
l= [9,8,7,6,5]
print(list(itertools.accumulate(l, lambda x, y: x/2+y/2)))

<itertools.accumulate object at 0x0000018EA4DBA610>